@media (max-width: 1025px) {
  .main {
    .nav {
      .signup {
        padding-left: 30px;
      }
      &__menu {
        padding-left: 210px;
        a {
          margin-left: 10px;
        }
      }
    }
  }

  .choise {
    &__secondheader {
      padding-right: 150px;
    }
  }
}
@media (max-width: 769px) {
  .start {
    width: 651px;

    margin-top: 119px;
  }
  .review {
    &__header {
      text-align: center;
      padding-top: 20px;
      padding-left: 0;
    }

    padding-top: 400px;
    &-container {
      flex-direction: column;
    }
  }
  #reviewimg {
    margin: 0 auto;
    display: block;
  }

  .main {
    .nav {
      button {
        width: 80px;
        height: 50px;
      }
      .signup {
        padding-left: 250px;
      }
      &__menu {
        display: none;
      }
      .menu-wrap {
        display: block;
      }
    }
  }

  .choise {
    &-container {
      flex-direction: column;

      align-items: center;
    }
    &__button {
      margin: 0 auto;
      display: block;
      margin-top: 20px;
    }
    &__header {
      text-align: center;
    }
    &__secondheader {
      padding: 0;
      text-align: center;
    }
    &__subheader {
      text-align: center;
    }
  }
}
@media (max-width: 426px) {
  .start {
    width: 348px;
    margin-top: 29px;
    &__header {
      font-size: 25px;
    }
    &__subheader {
      font-size: 20px;
    }
  }
  .review {
    padding-top: 224px;
    &-container {
      flex-direction: column;
    }
  }
  #reviewimg {
    width: 300px;
    height: 400px;
  }
  .slider-container {
    width: 415px;
    .image-slider {
      img {
        width: 300;
        height: 200px;
        margin: 0 auto;
        display: block;
      }
    }
  }
  .menu-wrap {
    position: absolute;
    top: 60px;
    left: 350px;
    z-index: 1;
  }
  .main {
    &__header {
      font-size: 25px;
    }
    .nav {
      .login {
        display: none;
      }
      button {
        width: 80px;
        height: 50px;
      }
      .signup {
        display: none;
      }
      &__menu {
        display: none;
      }
    }
  }
}
@media (max-width: 376px) {
  .review {
    padding-top: 69px;
  }
  #stars {
    width: 200px;
  }
  .choise {
    &__secondheader {
      font-size: 33px;
    }
    &__subheader {
      font-size: 16px;
    }
    .slider-container {
      width: 316px;
    }
  }
  .slider-container {
    width: 372px;
  }
  .menu-wrap {
    left: 300px;
  }
  .main {
    &__header {
      font-size: 20px;
    }
    &__subheader {
      font-size: 16px;
    }
  }
}
@media (max-width: 321px) {
  .start {
    width: 264px;
    margin-top: 18px;
    height: 400px;
    &__header {
      font-size: 20px;
    }
    &__subheader { 
      font-size: 17px;
      }
      &__button {
        width: 200px;
        height: 40px;
      }
  }
  #reviewimg {
    width: 269px;
    height: 380px;
  }
  .menu-wrap {
    left: 250px;
  }
  .main {
    &__header {
      font-size: 20px;
    }
    &__subheader {
      font-size: 16px;
    }
  }
}
@media (max-width: 281px) {
  .menu-wrap {
    left: 200px;
  }
  .main {
    &__button {
      width: 200px;
      height: 100px;
    }
  }
}
