.subscribe {
  &__header {
    color: #0f1f1c;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    padding-top: 135px;
  }
  input {
    width: auto;
    height: 129px;
    border-radius: 35px;
    background: linear-gradient(0deg, #fff 0%, #fff 100%), #c4c4c4;
    padding-left: 40px;
    border: none;
    outline: none;
  }
  .form {
    padding-top: 80px;
  }
  .submit {
    width: auto;
    height: 129px;
  }
}
